/* CSS Document */

@font-face {
    font-family: 'helveticaneuelt_std_medRg';
    src: url('/font/helveticaneueltstd-md-webfont.eot');
    src: url('/font/helveticaneueltstd-md-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/helveticaneueltstd-md-webfont.woff') format('woff'),
         url('/font/helveticaneueltstd-md-webfont.ttf') format('truetype'),
         url('/font/helveticaneueltstd-md-webfont.svg#helveticaneuelt_std_medRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {font-size:78%; background:#fff url(/images/bg_center.png);font-family:helveticaneuelt_std_medRg, Arial, Verdana, Helvetica, Sans-Serif; color:#3d3d3d; }
h1 {
	font-family: helveticaneuelt_std_medRg, Arial, Verdana, Helvetica, Sans-Serif;
	font-size:28px;
	color:#06b085;
}
p {
	font-size: 16px;
}
#main {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
#topo {
	background-image: url(/images/fundo_topo_rodadadenegocios.png);
	background-repeat: repeat-x;
	height: 240px;
	width: 100%;
	position: relative;
}
#content_top {
	background-image: url(/images/faixa_verde.png);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	position: relative;
	height: 240px;
	width: 1052px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#content_top figure {
	padding: 0;
	position: relative;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0px;
	top: 20px;
	left: 60px;
}
ul.phone {
	position:absolute;
	right:-723px;
    top: -57px;
	font-size:130%;
	background:url(/images/icon_cel.png) no-repeat left 7px;
	padding-left:50px
}
ul.phone li { bold; list-style-type:none; font-family:helveticaneuelt_std_medRg, Arial, Verdana, Helvetica, Sans-Serif; font-size:1.3em; line-height:1.3em; color:#fff; text-align:right;}
ul.phone li small { font-size:80%}
ul.phone img { float:left;  padding-right:10px; }#contato_top {
	position: relative;
	right: -77px;
	width: 200px;
	top: -50px;
}
#login_top {
	position: relative;
	height: 52px;
	width: 559px;
	left: 448px;
	top: -150px;
	background-image: url(/images/fundo_login_rodadadenegocios.png);
	background-repeat: no-repeat;
	z-index: auto;
	visibility: visible;
	margin: 0px;
}
#login_top_form {
    font-size: 14px;
    padding: 0px;
    position: relative;
    top: -8px;
    left: 18px;
}
#login_top form {
	top: 0px;
	position: relative;
	padding-top: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 20px;
	font-size: 14px;
}
#titulo_top {
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
    width: 600px;
    position: relative;
    margin: 0px;
    top: -9px;
    left: 212px;
}
#content {
	position: relative;
	width: 950px;
	padding: 0px;
	top: 20px;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#content figure {
	position: relative;
	padding: 0px;
	margin: 0 auto;
}
#content_text {
	width: 590px;
	position: relative;
	top: 30px;
	line-height: 12px;
}
#login_content {
	background-image: url(/images/fundo_login_content.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 204px;
	width: 352px;
	top: 178px;
	left: 598px;
	padding-top: 12px;
	padding-right: 26px;
	padding-bottom: 26px;
	padding-left: 26px;
}
#login_content form {
	top: 0px;
	position: relative;
	padding-top: 7px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 0px;
	font-size: 14px;
	width: 290px;
}
#welcome_content {
	background-image: url(/images/fundo_welcome_content.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 325px;
	width: 349px;
	top: 178px;
	left: 598px;
	padding-top: 15px;
	padding-right: 26px;
	padding-bottom: 26px;
	padding-left: 30px;
}
#welcome_content p {
	line-height: 20px;
}
#calendar_data {
	width: 200px;
	font-size:20px;
	line-height: 46px;	
}
#calendar_local {
    font-size: 20px;
    left: 217px;
    line-height: 45px;
    position: relative;
    top: -135px;
    width: 271px;
}
#calendar_assunto {
    font-size: 20px;
    left: 471px;
    line-height: 45px;
    position: relative;
    top: -270px;
    width: 340px;
}
#calendar_acao {
    font-size: 20px;
    left: 829px;
    line-height: 45px;
    position: relative;
    text-align: right;
    top: -368px;
    width: 100px;
}
#calendar_local_login {
    font-size: 20px;
    left: 217px;
    line-height: 45px;
    position: relative;
    top: -90px;
    width: 271px;
}
#calendar_assunto_login {
    font-size: 20px;
    left: 471px;
    line-height: 45px;
    position: relative;
    top: -180px;
    width: 340px;
}
#calendar_acao_login {
    font-size: 20px;
    left: 829px;
    line-height: 45px;
    position: relative;
    text-align: right;
    top: -232px;
    width: 100px;
}
#pontilhado {
	background:url(../images/fundo_pontilhado.png);
	background-repeat:no-repeat;
}
#pontilhado_login {
	background:url(../images/fundo_pontilhado2.png);
	background-repeat:no-repeat;
}
#links_content {
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 800px;
	height:120px;
    top: 87px;
}